// Roobert :
@font-face {
	font-family: 'Roobert';
	src:
		url('/assets/fonts/Roobert/Roobert-Light.woff2') format('woff2'),
		url('/assets/fonts/Roobert/Roobert-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roobert';
	src:
		url('/assets/fonts/Roobert/Roobert-Regular.woff2') format('woff2'),
		url('/assets/fonts/Roobert/Roobert-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roobert';
	src:
		url('/assets/fonts/Roobert/Roobert-Medium.woff2') format('woff2'),
		url('/assets/fonts/Roobert/Roobert-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

// Romie :
@font-face {
	font-family: 'Romie';
	src:
		url('/assets/fonts/Romie/Romie-Regular.woff2') format('woff2'),
		url('/assets/fonts/Romie/Romie-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Romie';
	src:
		url('/assets/fonts/Romie/Romie-ItalicRegular.woff2') format('woff2'),
		url('/assets/fonts/Romie/Romie-ItalicRegular.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Romie';
	src:
		url('/assets/fonts/Romie/Romie-Medium.woff2') format('woff2'),
		url('/assets/fonts/Romie/Romie-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Romie';
	src:
		url('/assets/fonts/Romie/Romie-ItalicMedium.woff2') format('woff2'),
		url('/assets/fonts/Romie/Romie-ItalicMedium.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
