@use '../tools' as *;

$gutterMobile: fluidSize(20px, 16px);
$gutterDesktop: 20px;

:root {
	--gutter: #{$gutterMobile};
	--max-ctn-w: 2560px;
	--ctn-w: clamp(200px, calc(100vw - var(--gutter) * 2), var(--max-ctn-w));
	--border-radius: 4px;
	--header-height: 40px;
	--header-padding-inline: 14px;
	--full-height-without-header: calc(100vh - (var(--gutter) * 2) - var(--header-height));

	@include mq(desktop) {
		--gutter: #{$gutterDesktop};
	}
}
