# Website :
SITE_URL=https://example.com/

# Storyblok :
STORYBLOK_TOKEN=YOUR_PREVIEW_TOKEN
STORYBLOK_OAUTH_TOKEN=YOUR_OAUTH_TOKEN
STORYBLOK_SPACE_ID=YOUR_SPACE_ID
STORYBLOK_ASSETS_DOMAIN=YOUR_CDN_DOMAIN

# Preview mode (comma separated list of hostnames) :
PREVIEW_HOSTS=YOUR_PREVIEW_HOSTS

# hCaptcha :
PUBLIC_HCAPTCHA_SITE_KEY=YOUR_HCAPTCHA_SITE_KEY

# Web3Forms :
PUBLIC_WEB3FORMS_ACCESS_KEY=YOUR_WEB3FORMS_ACCESS_KEY