@use 'sass:map';

$white: #fff;
$black: #000;

$grey: #84817a;
$eerieBlack: #1c1b19;
$smokyBlack: #0d0c0b;

$ivory: #f7f6f2;
$whiteChoco: #ede7db;
$khaki: #b6a897;

$red: #c1121f;

/* stylelint-disable-next-line prettier/prettier */
$colors: (
	#{white}: $white,
	#{black}: $black,
	#{grey}: $grey,
	#{eerieBlack}: $eerieBlack,
	#{smokyBlack}: $smokyBlack,
	#{ivory}: $ivory,
	#{whiteChoco}: $whiteChoco,
	#{khaki}: $khaki,
	#{red}: $red
);

$gradients: (
	'menu-khaki': linear-gradient(90deg, rgba($khaki, 0.1) 0%, rgba($khaki, 0) 100%),
	'menu-white': linear-gradient(90deg, rgba($white, 0.05) 0%, rgba($white, 0) 100%),
	'form-error': linear-gradient(90deg, rgba($red, 0.1) 0%, rgba($red, 0) 100%),
	'form-error-drawer-body': linear-gradient(180deg, rgba($red, 0.1) 0%, rgba($red, 0) 100%),
	'white-ivory': linear-gradient(180deg, rgba($white, 1) 0%, rgba($ivory, 1) 100%),
	'ivory-white': linear-gradient(180deg, rgba($ivory, 1) 0%, rgba($white, 1) 100%),
	'white-ivory-transparent': linear-gradient(180deg, rgba($white, 0) 0%, rgba($ivory, 1) 100%),
	'white-white-transparent': linear-gradient(180deg, rgba($white, 0) 0%, rgba($white, 1) 100%),
	'ivory-white-transparent': linear-gradient(180deg, rgba($ivory, 1) 0%, rgba($white, 0) 100%)
);

@mixin gradient($name: 'white-black') {
	@if map.has-key($gradients, $name) {
		$gradient: map.get($gradients, $name);

		background: $gradient;
	}
}
