// Eases :
$power0: cubic-bezier(0, 0, 1, 1);
$power1In: cubic-bezier(0.26, 0, 0.6, 0.2);
$power1Out: cubic-bezier(0.4, 0.8, 0.74, 1);
$power1InOut: cubic-bezier(0.48, 0.04, 0.52, 0.96);
$power2In: cubic-bezier(0.4, 0, 0.68, 0.06);
$power2Out: cubic-bezier(0.32, 0.94, 0.6, 1);
$power2InOut: cubic-bezier(0.66, 0, 0.34, 1);
$power3In: cubic-bezier(0.52, 0, 0.74, 0);
$power3Out: cubic-bezier(0.26, 1, 0.48, 1);
$power3InOut: cubic-bezier(0.76, 0, 0.24, 1);
$power4In: cubic-bezier(0.64, 0, 0.78, 0);
$power4Out: cubic-bezier(0.22, 1, 0.36, 1);
$power4InOut: cubic-bezier(0.84, 0, 0.16, 1);
$sineIn: cubic-bezier(0.32, 0, 0.6, 0.36);
$sineOut: cubic-bezier(0.4, 0.64, 0.68, 1);
$sineInOut: cubic-bezier(0.36, 0, 0.64, 1);
$expoIn: cubic-bezier(0.66, 0, 0.86, 0);
$expoOut: cubic-bezier(0.14, 1, 0.34, 1);
$expoInOut: cubic-bezier(0.9, 0, 0.1, 1);
$circIn: cubic-bezier(0.54, 0, 1, 0.44);
$circOut: cubic-bezier(0, 0.56, 0.46, 1);
$circInOut: cubic-bezier(0.88, 0.14, 0.12, 0.86);
$smoothInOut: cubic-bezier(0.77, 0, 0.18, 1);
$smoothOut: cubic-bezier(0.43, 0.2, 0.02, 1);
$customExpoOut: cubic-bezier(0.19, 1, 0.22, 1);
$customExpoInOut: cubic-bezier(1, 0, 0.25, 0.995);
$customEase: cubic-bezier(0.15, 0.85, 0.45, 1);
$transitionEase: cubic-bezier(0.4, 0, 0.2, 1);
$immg-zoomIn: cubic-bezier(0.9, 0, 0.4, 1);
$immg-zoomOut: cubic-bezier(0.4, 0, 0.1, 1);
$immg-posIn: cubic-bezier(0.4, 0, 0.1, 1);
$immg-posOut: cubic-bezier(0.9, 0, 0.4, 1);
$immg-expoOut: cubic-bezier(0.14, 1, 0.34, 1);
$immg-expoIn: cubic-bezier(0.66, 0, 0.86, 0);
$elasticOut: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$elasticIn: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$elasticInOut: cubic-bezier(0.68, -0.55, 0.265, 1.55);
